#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [232]:
import pandas as pd

In [233]:
rating = pd.read_csv('ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [234]:
movie_rate = rating.filter(items = ['movieId', 'rating'])
movie_rate.head()

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0

In [235]:
filtered_movies_id = movie_rate[ (movie_rate['rating']==5.0) ]
filtered_movies_id.head()

   movieId  rating
3       47     5.0
4       50     5.0
6      101     5.0
8      151     5.0
9      157     5.0

In [236]:
best=filtered_movies_id['movieId'].value_counts().head(1).to_frame()

In [271]:
movies = pd.read_csv('movies.csv')
best_film = movies[movies['movieId']==best.index[0]]
print(best_film)

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [238]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [239]:
choosen = power[((power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia'))
                &((power['category']==4) | (power['category']==12) | (power['category']==21))
                &((power['year']>=2005) & (power['year']<=2010))&(power['quantity']>0)]
print(choosen)

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
11158   Lithuania  2006       1.0         4
11159   Lithuania  2005       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[347 rows x 4 columns]

In [240]:
sum(choosen['quantity'])

240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [241]:
#page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
#table = pd.read_html(page_url, attrs = {'class':'quote_list'}, encoding='utf-8')
#print(table)
page_url='https://spacegid.com/stars/25-samyih-yarkih-zvyozd'
table = pd.read_html(page_url, attrs = {'class':'pls'}, encoding='utf-8')
print(table)

[     №                   Название Расстояние, св. лет Видимая величина  \
0    0                     Солнце            00000158           −26,72
1    1    Сириус (α Большого Пса)                  86            −1,46
2    2           Канопус (α Киля)                 310            −0,72
3    3       Толиман (α Центавра)                  43            −0,27
4    4        Арктур (α Волопаса)                  34            −0,04
5    5              Вега (α Лиры)                  25     0,03 (перем)
6    6      Капелла (α Возничего)                  41              008
7    7          Ригель (β Ориона)                ~870     0,12 (перем)
8    8     Процион (α Малого Пса)                 114              038
9    9        Ахернар (α Эридана)                  69              046
10  10     Бетельгейзе (α Ориона)                ~530     0,50 (перем)
11  11         Хадар (β Центавра)                ~400     0,61 (перем)
12  12           Альтаир (α Орла)                  16              077
13  13   Акрукс (α Южного Креста)                ~330              079
14  14      Альдебаран (α Тельца)                  60     0,85 (перем)
15  15      Антарес (α Скорпиона)                ~610     0,96 (перем)
16  16             Спика (α Девы)                 250     0,98 (перем)
17  17      Поллукс (β Близнецов)                  40              114
18  18  Фомальгаут (α Южной Рыбы)                  22              116
19  19   Мимоза (β Южного Креста)                ~290     1,25 (перем)
20  20           Денеб (α Лебедя)               ~1550              125
21  21             Регул (α Льва)                  69              135
22  22     Адара (ε Большого Пса)                ~400              150
23  23       Кастор (α Близнецов)                  49              157
24  24  Гакрукс (γ Южного Креста)                 120     1,63 (перем)
25  25        Шаула (λ Скорпиона)                 330     1,63 (перем)

   Абсолютная величина Спектральный класс Небесное полушарие
0                   48                G2V                NaN
1                   14               A1Vm              Южное
2                −5,53               A9II              Южное
3                  406            G2V+K1V              Южное
4                 −0,3           K1.5IIIp           Северное
5                   06               A0Va           Северное
6                 −0,5      G6III + G2III           Северное
7                   −7              B8Iae              Южное
8                   26             F5IV-V           Северное
9                 −1,3              B3Vnp              Южное
10               −5,14              M2Iab           Северное
11                −4,4              B1III              Южное
12                  23               A7Vn           Северное
13                −4,6      B0.5Iv + B1Vn              Южное
14                −0,3              K5III           Северное
15                −5,2            M1.5Iab              Южное
16                −3,2                B1V              Южное
17                  07             K0IIIb           Северное
18                  20               A3Va              Южное
19                −4,7            B0.5III              Южное
20                −7,2               A2Ia           Северное
21                −0,3               B7Vn           Северное
22                −4,8               B2II              Южное
23                  05          A1V + A2V           Северное
24                −1,2            M3.5III              Южное
25                −3,5             B1.5IV              Южное  ]

#### Задание 4
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import warnings
warnings.filterwarnings('ignore')
movies['rating']=0
movies['class']=''
for id in range(0,100,1):
    x=rating[(rating['movieId']==id)]['rating'].mean()
    movies['rating'][(movies['movieId']==id)]=x
    if x<=2:
        movies['class'][(movies['movieId']==id)]='низкий рейтинг'
    if x<=4:
        movies['class'][(movies['movieId']==id)]='средний рейтинг'
    if x>=4:
        movies['class'][(movies['movieId']==id)]='высокий рейтинг'
movies

#### Задание 5
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [364]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }
power = pd.read_csv('keywords.csv')

TypeError: string indices must be integers

In [378]:
for city in geo_data.values():
    if power[power['keyword'].str.contains(city, regex=False)]==True:
        power['region']=[key for key, city1 in geo_data if city1==city]
    else:
        power['region']='undefined'
print(power)

SyntaxError: invalid syntax (<ipython-input-378-fdb9c72f752a>, line 1)

#### Задание 6
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [341]:
def production_year(movies):
    movies['year']='1900'
    years=[i for i in range(1950,2010,1)]
    for id in range(60,86):
        temp=str(movies[(movies['movieId']==id)]['title'])
        i=temp.find('(1')
        if i==-1:
            i=temp.find('(2')
        movie_year=temp[i+1:i+5]
        if str(years).count(movie_year)==1:
            movies['year'][(movies['movieId']==id)]=movie_year
    return 0

In [347]:
from collections import OrderedDict
from operator import itemgetter
d={year:movies['rating'][(movies['year'])==year].mean() for year in years}
print(OrderedDict(sorted(d.items(), key = itemgetter(1), reverse = True)))

OrderedDict([(1950, nan), (1951, nan), (1952, nan), (1953, nan), (1954, nan), (1955, nan), (1956, nan), (1957, nan), (1958, nan), (1959, nan), (1960, nan), (1961, nan), (1962, nan), (1963, nan), (1964, nan), (1965, nan), (1966, nan), (1967, nan), (1968, nan), (1969, nan), (1970, nan), (1971, nan), (1972, nan), (1973, nan), (1974, nan), (1975, nan), (1976, nan), (1977, nan), (1978, nan), (1979, nan), (1980, nan), (1981, nan), (1982, nan), (1983, nan), (1984, nan), (1985, nan), (1986, nan), (1987, nan), (1988, nan), (1989, nan), (1990, nan), (1991, nan), (1992, nan), (1993, nan), (1994, nan), (1995, nan), (1996, nan), (1997, nan), (1998, nan), (1999, nan), (2000, nan), (2001, nan), (2002, nan), (2003, nan), (2004, nan), (2005, nan), (2006, nan), (2007, nan), (2008, nan), (2009, nan)])